{%extends 'Admin_index.html'%} {% block content %} {% load static %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Contact </h3>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <input type="text" class="form-control mb-3" id="myInput" onkeyup="myFunction()"
                            placeholder="Search here.." title="Search here">
                        <div class="table-responsive">
                            <table class="table table-hover" id="myTable">
                                <thead>
                                    <tr>
                                        <th>sl.no</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Messege</th>
                                        <th>Replay</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in cou %}
                                    <tr> 
                                        <td>{{forloop.counter}}</td>
                                        <td>{{i.firstname}} {{i.lastname}}</td>
                                        <td>{{i.email}}</td>
                                        <td>
                                            <button type="button" class="btn text-light btn-sm mx-1" style="background: #f89d13;"
                                                data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}">
                                                <i class="mdi mdi-comment-multiple-outline"></i> Message </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn text-light btn-sm" style="background: #f89d13;" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal2{{i.id}}"> Replay </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for i in cou %}
<!-- message Modal -->
<div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Messege</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{i.message}}
            </div>
        </div>
    </div>
</div>
<!-- message Modal ends -->
{% endfor %}
{% for i in cou %}
<!-- Modal reject-->
<div class="modal fade" id="exampleModal2{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Replay</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'contactus_replay' i.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                            <div class="row px-3">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                                <textarea class="col-12 col-sm-12 col-md-12 col-lg-12 form-control"
                                 name="rep" rows="8"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center pb-3">
                            <button type="submit" onclick="redirect()" class="btn btn-icon-text " style="outline: 1px solid #f89d13;">
                                <i class=" mdi mdi-send btn-icon-prepend"></i>
                                send
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- Modal reject ends-->



<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>


<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

{% endblock %}