{%extends 'base.html'%} {% block content %} {% load static %}


<div class="bg-dark m-0 p-0" style="height: 85px;"></div>
<div class="site-section bg-light">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-5 mb-5 mx-auto">
        <div class="card h-100 border-primary justify-content-center">
          <form action="{% url 'Change_password' %}" class="p-5 bg-white" method="post" enctype="multipart/form-data">
            {% csrf_token%}
            <div class="row form-group">
              <div class="col-md-12" >
                <label class="text-black">Current Password</label>
                <input type="text" id="currentPassword" name="currentPassword" class="form-control" required>
              </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12" >
                  <label class="text-black">New Password</label>
                  <input type="password" id="newpass" name="newPassword" class="form-control" required>
                </div>
                </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black">Confirm Password</label>
                <input type="password" id="conpassword" name="confirmPassword" class="form-control" required>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary py-2 px-4 text-white">Submit</button>
              </div>
              <br><span id='message' class="ml-5"></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('#conpassword').on('change', function () {
     if ($('#newpass').val() == $('#conpassword').val()) {
       $('#message').html('Matching').css('color', 'green');
     } else 
       $('#message').html('Not Matching').css('color', 'red');
   });
       </script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if msg_success %}
<script>
Swal.fire({
    position: 'center',
    icon: 'success',
    text: '{{ msg_success }}',
    showConfirmButton: false,
    timer: 1500
}).then(function () {
    javascript: history.go(-2);
})

</script>
{% endif %}

{% if msg_error %}
<script>
Swal.fire({
    position: 'center',
    icon: 'success',
    text: '{{ msg_error }}',
    showConfirmButton: false,
    timer: 1500
}).then(function () {
    javascript: history.go(-2);
})

</script>
{% endif %}
{% endblock %}