{%extends 'Staff_index.html'%} {% block content %} {% load static %}

<div class="content-wrapper auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 col-md-6 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5 rounded">
                <div class="brand-logo">
                    <h3>Change Password</h3>
                </div>
                <form action="{% url 'Staff_changepwd_save' %}"  class="forms-sample" method="post" enctype="multipart/form-data">
                    {% csrf_token%}
                    <div class="form-group">
                        <input type="password" class="form-control rounded"
                            placeholder="Current Password" name="currentPassword" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control rounded" id="newpass"
                            placeholder="New Password" name="newPassword" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control rounded" id="conpassword"
                            placeholder="Confirm Password" name="confirmPassword" required>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn text-light " style="background: #f89d13;">Submit</button>
                    </div>
                    <span id='message'></span>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
</div>
<!-- page-body-wrapper ends -->
</div>

<script>
    $('#conpassword').on('change', function () {
     if ($('#newpass').val() == $('#conpassword').val()) {
       $('#message').html('Matching').css('color', 'green');
     } else 
       $('#message').html('Not Matching').css('color', 'red');
   });
       </script>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if msg_success %}
<script>
Swal.fire({
    position: 'center',
    icon: 'success',
    text: '{{ msg_success }}',
    showConfirmButton: false,
    timer: 1500
}).then(function () {
    javascript: history.go(-2);
})

</script>
{% endif %}

{% if msg_error %}
<script>
Swal.fire({
    position: 'center',
    icon: 'success',
    text: '{{ msg_error }}',
    showConfirmButton: false,
    timer: 1500
}).then(function () {
    javascript: history.go(-2);
})

</script>
{% endif %}
{% endblock %}

<!-- onclick="showSwal('success-message')" -->