{%extends 'Staff_index.html'%} {% block content %} {% load static %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"> Update Tracking Details </h4>
            <form action="{% url 'Staff_tracking_update_save' req.id %}"  class="forms-sample" method="post" enctype="multipart/form-data">
              {% csrf_token%}
              <div class="form-group ">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Shipment Status</label>
                <div class="col-sm-12">
                  <select  class="form-control" style="font-size: 20px; height: 50px;" name="sta" required>
                    <option hidden >--Select--</option>
                    <option>pending</option>
                    <option>Success</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Tracking Details</label>
                <div class="col-sm-12">
                  <textarea type="text" rows="5" class="form-control" id="exampleInputUsername2" name="Tdetails" required></textarea>
                </div>
              </div>
              <div class="col-md-4 mx-auto">
              <button type="submit" class="btn w-100 text-light" style="background: #f89d13;">Submit</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}